<main role="main" class="container">
  <div class="starter-template">
    <h1>GD #3 - Acceso a páginas basadas en su rol</h1>

    <p class="lead">
      Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
      HTML document.
    </p>
    {{#if user}}
    <div>
      <h2>
        <a class="nav-link" href="/user/{{user.id}}">Bienvenido {{user.name}}</a>
      </h2>
      <h4>
        <a href="/dashboard">Dashboard</a>
      </h4>
      <h4>
        <a href="/users">Users</a>
      </h4>
    </div>
    {{/if}}
  </div>
</main>